<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Giữ Liên Lạc</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Khu Công Nghệ Cao, Q.9, TP.HCM</p>
                        <p><i class="fa fa-envelope"></i>ltvcblue@gmail.com</p>
                        <p><i class="fa fa-phone"></i>+0363 598 024</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Theo dõi Fanpage</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Thông Tin Công Ty</h2>
                    <ul>
                        <li><a href="#">Thông tin của công ty</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản & Điều kiện</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Thông Tin Mua Hàng</h2>
                    <ul>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Chính sách vận chuyển</a></li>
                        <li><a href="#">Chính sách hoàn trả</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>Chúng tôi nhận: </h2>
                    <img src="~/Content/assets/img/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Được đảm bảo bởi: </h2>
                    <img src="~/Content/assets/img/godaddy.svg" alt="Payment Security" />
                    <img src="~/Content/assets/img/norton.svg" alt="Payment Security" />
                    <img src="~/Content/assets/img/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8 copyright">
                <h4>
                    © 2020 - CÔNG TY TNHH HHT VN</h2>
                    <p> Giấy CNĐKDN: 0310874914 – Ngày cấp: 01/06/2021 - Cơ quan cấp: Phòng Đăng Ký Kinh Doanh – Sở Kế Hoạch và Đầu Tư TP.HCM </p>
                    <p> Địa chỉ đăng ký kinh doanh: Hutech công nghệ cao, Quận 9, TP.HCM - Điện thoại: 0363 598 024 - Email: ltvcblue@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->