@using WebBanTraSua.Common
<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i> ltvcblue@gmail.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i> +0363 598 024
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->
<!-- Nav Bar Start -->
<!-- Nav Bar End -->
<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="logo">
                    <a href="/trang-chu">
                        <h1>TCNL</h1>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="width:500px;">
                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav mr-auto">
                                    @{Html.RenderAction("Menus", "Home");}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <form class="search" action="/tim-kiem" method="get">
                    <input type="text" id="txtSearchNameProduct" name="searchNameProduct" placeholder="Tìm kiếm sản phẩm...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="col-md-3">
                <div class="user">
                    @*<a href="wishlist.html" class="btn wishlist">
                            <i class="fa fa-heart"></i>
                            <span> (0)</span>
                        </a>*@
                    @{ Html.RenderAction("HeaderCart", "Home");}

                    @{
                        var session = (UserLogin)Session[WebBanTraSua.Common.CommenConstants.USER_SESSION];
                    }

                    @if (session == null)
                    {
                        <a href="#" class="nav-link dropdown-toggle" style="color:#ffff; font-weight: 600;" data-toggle="dropdown">TÀI KHOẢN</a>
                        <div class="dropdown-menu">
                            <a href="/dang-nhap" class="dropdown-item">Đăng Nhập</a>
                            <a href="/dang-ky" class="dropdown-item">Đăng kí</a>
                        </div>
                    }
                    else
                    {
                        <a href="#" class="nav-link dropdown-toggle" style="color:#ffff; font-weight: 600;" data-toggle="dropdown">@session.Email</a>
                        <div class="dropdown-menu">
                            <a href="/lich-su-mua-hang/@session.Id" class="dropdown-item">Lịch sử mua hàng</a>
                            <a href="/thong-tin-tai-khoan/@session.Id" class="dropdown-item">Thông tin tài khoản</a>
                            <a href="/LoginUser/Logout" class="dropdown-item">Đăng xuất</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom Bar End -->